<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
	  {% for items in states | sort(attribute='name')%}
          {% set dictame = items.to_dict()%}
	  <LI>{{ items.id }}: <B>{{items.name}}</B>
	  <UL>
	    {% for values in items.cities | sort(attribute='name')%}
            {% set dictame2 = values.to_dict()%}
	    <LI>{{ dictame2.id }}: <B>{{dictame2.name}}</B></LI>
	    {% endfor %}
	  </UL>
	  </LI>
	  {% endfor %}
        </UL>
    </BODY>
</HTML>